In [88]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [89]:
df = pd.read_csv("/content/train_u6lujuX_CVtuZ9i (1).csv")

In [90]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [91]:
# !pip install pandas-profiling
# from IPython.display import display, FileLink
# from pandas_profiling import ProfileReport
# profile = ProfileReport(df)
# profile.to_file("report.html")
# display(FileLink("report.html"))

In [92]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [93]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [94]:
missing_values_count = df.isnull().sum()
missing_values_count[missing_values_count > 0]

Gender              13
Married              3
Dependents          15
Self_Employed       32
LoanAmount          22
Loan_Amount_Term    14
Credit_History      50
dtype: int64

In [95]:
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

Loan_ID               object
Gender                object
Married               object
Dependents            object   float  done
Education             object   float   done
Self_Employed         object    float   done
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object

Loan_ID               object

Gender                object

Married               object

Dependents            object    **float    done**

Education             object     **float     done**

Self_Employed         object       **float     done**

ApplicantIncome        int64        **done**

CoapplicantIncome    float64         **done**

LoanAmount           float64             **done**

Loan_Amount_Term     float64

Credit_History       float64

Property_Area         object

Loan_Status           object

In [96]:
df['Dependents'] = pd.to_numeric(df['Dependents'], errors='coerce')

In [97]:
df['Dependents']=df['Dependents'].fillna(df['Dependents'].median())

In [98]:
df['Dependents'].isnull().sum()

0

In [99]:
df['Self_Employed'].head()

0     No
1     No
2    Yes
3     No
4     No
Name: Self_Employed, dtype: object

In [100]:
bool_mapping={'Yes':1 , 'No':0}
df['Self_Employed'] = pd.to_numeric(df['Self_Employed'].map(bool_mapping), errors='coerce')

In [101]:
df['Self_Employed'].head()

0    0.0
1    0.0
2    1.0
3    0.0
4    0.0
Name: Self_Employed, dtype: float64

In [102]:
df['Self_Employed']=df['Self_Employed'].fillna(df['Self_Employed'].mode().iloc[0])

In [103]:
df['Self_Employed'].isnull().sum()

0

In [104]:
df['Education'].value_counts()

Graduate        480
Not Graduate    134
Name: Education, dtype: int64

In [105]:
# # convert categorical columns to numerical values
# loan_dataset.replace({'Married':{'No':0,'Yes':1},'Gender':{'Male':1,'Female':0},'Self_Employed':{'No':0,'Yes':1},
#                       'Property_Area':{'Rural':0,'Semiurban':1,'Urban':2},'Education':{'Graduate':1,'Not Graduate':0}},inplace=True)

In [106]:
bool_mapping={'Graduate':1 , 'Not Graduate':0}
df['Education'] = pd.to_numeric(df['Education'].map(bool_mapping), errors='coerce')

In [107]:
df['Education'].value_counts()

1    480
0    134
Name: Education, dtype: int64

In [108]:
df['Education'].isnull().sum()

0

In [109]:
df['ApplicantIncome'].head()

0    5849
1    4583
2    3000
3    2583
4    6000
Name: ApplicantIncome, dtype: int64

In [110]:
df['ApplicantIncome'].isnull().sum()

0

In [111]:
df['LoanAmount'].head()

0      NaN
1    128.0
2     66.0
3    120.0
4    141.0
Name: LoanAmount, dtype: float64

In [112]:
df['LoanAmount'].isnull().sum()

22

In [113]:
df['LoanAmount'].fillna(df['LoanAmount'].median(),inplace=True)

In [114]:
df['LoanAmount'].head()

0    128.0
1    128.0
2     66.0
3    120.0
4    141.0
Name: LoanAmount, dtype: float64

In [115]:
df['LoanAmount'].isnull().sum()

0

In [116]:
df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].median(),inplace=True)

In [117]:
df['Loan_Amount_Term'].isnull().sum()

0

In [118]:
df['Credit_History'].head()

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: Credit_History, dtype: float64

In [119]:
df['Credit_History'].fillna(df['Credit_History'].mode()[0],inplace=True)

In [120]:
df['Credit_History'].isnull().sum()

0

In [121]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,1,0.0,5849,0.0,128.0,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,1,0.0,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,1,1.0,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,0,0.0,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,1,0.0,6000,0.0,141.0,360.0,1.0,Urban,Y

In [122]:
df.select_dtypes(include=['object']).columns

Index(['Loan_ID', 'Gender', 'Married', 'Property_Area', 'Loan_Status'], dtype='object')

In [123]:
df=df.dropna(subset=['Gender' , 'Married'])

In [124]:
y=df.iloc[:,-1]
X = df.iloc[:, 1:-1]
X

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,No,0.0,1,0.0,5849,0.0,128.0,360.0,1.0,Urban
1,Male,Yes,1.0,1,0.0,4583,1508.0,128.0,360.0,1.0,Rural
2,Male,Yes,0.0,1,1.0,3000,0.0,66.0,360.0,1.0,Urban
3,Male,Yes,0.0,0,0.0,2583,2358.0,120.0,360.0,1.0,Urban
4,Male,No,0.0,1,0.0,6000,0.0,141.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0.0,1,0.0,2900,0.0,71.0,360.0,1.0,Rural
610,Male,Yes,0.0,1,0.0,4106,0.0,40.0,180.0,1.0,Rural
611,Male,Yes,1.0,1,0.0,8072,240.0,253.0,360.0,1.0,Urban
612,Male,Yes,2.0,1,0.0,7583,0.0,187.0,360.0,1.0,Urban
613,Female,No,0.0,1,1.0,4583,0.0,133.0,360.0,0.0,Semiurban

In [125]:
X.select_dtypes(include=['object']).columns

Index(['Gender', 'Married', 'Property_Area'], dtype='object')

In [126]:
categorical_columns = X.select_dtypes(include=['object']).columns

In [127]:
numerical_columns = X.select_dtypes(include=['int', 'float']).columns
numerical_columns

Index(['Dependents', 'Education', 'Self_Employed', 'ApplicantIncome',
       'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term',
       'Credit_History'],
      dtype='object')

In [128]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
categorical_columns = X.select_dtypes(include=['object']).columns
numerical_columns = X.select_dtypes(include=['int', 'float']).columns

preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(drop='first'), categorical_columns)
    ],
    remainder='passthrough'  # Pass through the numerical columns
)

# Fit and transform the data using the preprocessor
encoded_features = preprocessor.fit_transform(X)

# # Get the transformed categorical feature names
# encoded_cat_feature_names = preprocessor.named_transformers_['cat'].get_feature_names_out(input_features=categorical_columns)

# # Combine the categorical feature names and numerical column names
# all_feature_names = list(encoded_cat_feature_names) + numerical_columns

# # Create a DataFrame from the transformed features
# df_encoded = pd.DataFrame(encoded_features, columns=all_feature_names)

In [129]:
encoded_cat_feature_names = preprocessor.named_transformers_['cat'].get_feature_names_out(input_features=categorical_columns)
all_feature_names = list(encoded_cat_feature_names) + list(numerical_columns)
all_feature_names
X = pd.DataFrame(encoded_features, columns=all_feature_names)

In [130]:
X

,Gender_Male,Married_Yes,Property_Area_Semiurban,Property_Area_Urban,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,5849.0,0.0,128.0,360.0,1.0
1,1.0,1.0,0.0,0.0,1.0,1.0,0.0,4583.0,1508.0,128.0,360.0,1.0
2,1.0,1.0,0.0,1.0,0.0,1.0,1.0,3000.0,0.0,66.0,360.0,1.0
3,1.0,1.0,0.0,1.0,0.0,0.0,0.0,2583.0,2358.0,120.0,360.0,1.0
4,1.0,0.0,0.0,1.0,0.0,1.0,0.0,6000.0,0.0,141.0,360.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
593,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2900.0,0.0,71.0,360.0,1.0
594,1.0,1.0,0.0,0.0,0.0,1.0,0.0,4106.0,0.0,40.0,180.0,1.0
595,1.0,1.0,0.0,1.0,1.0,1.0,0.0,8072.0,240.0,253.0,360.0,1.0
596,1.0,1.0,0.0,1.0,2.0,1.0,0.0,7583.0,0.0,187.0,360.0,1.0
597,0.0,0.0,1.0,0.0,0.0,1.0,1.0,4583.0,0.0,133.0,360.0,0.0

In [133]:
y

0      Y
1      N
2      Y
3      Y
4      Y
      ..
609    Y
610    Y
611    Y
612    Y
613    N
Name: Loan_Status, Length: 598, dtype: object

In [131]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, stratify=y, random_state=2)

# kernels = ['linear', 'poly', 'rbf', 'sigmoid']

# for kernel in kernels:
svm_classifier = SVC(kernel='linear')
svm_classifier.fit(X_train, y_train)
y_pred = svm_classifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

0.8166666666666667